<a href="https://colab.research.google.com/github/sonagidevelop/-Python-/blob/main/candle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [37]:
import pandas as pd
krx_list = pd.read_html('/content/상장법인목록.xls')
krx_list[0].종목코드 = krx_list[0].종목코드.map('{:06d}'.format)
krx_list[0]

             회사명    종목코드  ...                          홈페이지       지역
0           나우코스  257990  ...        http://www.nowcos.com/  세종특별자치시
1          에이스캠퍼  322190  ...       http://acecamper.co.kr/     충청남도
2       유안타제7호스팩  367460  ...                           NaN    서울특별시
3            루트락  253610  ...           http://rootloc.com/    서울특별시
4     ESR켄달스퀘어리츠  365550  ...     http://www.esrks-reit.com    서울특별시
...          ...     ...  ...                           ...      ...
2406      CJ대한통운  000120  ...    http://www.cjlogistics.com    서울특별시
2407       메리츠화재  000060  ...     http://www.meritzfire.com    서울특별시
2408          경방  000050  ...    http://www.kyungbang.co.kr    서울특별시
2409       유수홀딩스  000700  ...  http://www.eusu-holdings.com    서울특별시
2410    한진중공업홀딩스  003480  ...  http://www.hhic-holdings.com      경기도

[2411 rows x 9 columns]

In [ ]:
df = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13')[0]
df['종목코드'] = df['종목코드'].map('{:06d}'.format)
df = df.sort_values(by='종목코드')
df

In [36]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests


url = 'https://finance.naver.com/item/sise_day.nhn?code=068270&page=1'
raw = requests.get(url, headers={'User-Agent':'Mozilla/5.0'})
html = BeautifulSoup(raw.text, "html.parser")
pgrr = html.find('td', class_='pgRR')
s = str(pgrr.a['href']).split('=')

last_page  = s[-1]

df = pd.DataFrame()
sise_url='https://finance.naver.com/item/main.nhn?code=068270'

for page in range(1, 11):
  page_url = '{}&page={}'.format(sise_url, page)
  df = df.append(pd.read_html(page_url, header=0)[0])
  print(page)

df = df.dropna()
print(df)

1
2
3
4
5
6
7
8
9
10
  ÀüÀÏ  367,000  367,000  ...      °Å·¡·®  2,516,411  2,516,411
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸
0   ½Ã°¡  377,000377,000  ...  °Å·¡´ë±Ý  943,957  943,957  ¹é¸¸

[10 rows x 3 columns]